footer{
	background: #333333;
	.TopFooterMenu{
		padding-top: 4rem;
		padding-bottom: 2rem;
		display: block;
		// @media screen and (min-width: 768px){
		// 	display: flex;
		// }
		    h4{
		    	color: #ddd;
		    	font-size: 18px;
		    	margin-top: 1.8rem;
		    	margin-bottom: 10px;
		    	font-weight: 500;
		    	@media screen and (min-width: 768px){
					margin-top: 4.5rem;
		    		margin-bottom: 20px;
		    	}
		    }
		    p{
		    	text-align: left;
		    	margin-top: 2rem;
		    	color: #fff;
		    	font-weight: 500;
		    	font-size: 15px;
		    }
		    ul.SocialIcons {
		  		margin: 3rem auto 0 0;
			    padding: 0;
			    list-style: none;
			    display: flex;
			    align-items: center;
			    justify-content: flex-start;
				    li{
			    	display: inline-block;
			    	margin-right: 1.2rem;
			    	color: #fff;
			    	font-size: 18px;
			    	font-family: Lato;
				    a {
				    	display: flex;
					    justify-content: center;
					    align-items: center;
				    	background: #333;
					    transition: background ease 0.1s;
					    svg {
					    	width: 22px;
						    height: 22px;
						    fill: #ffffff;
						    &:hover{
						    	fill: #ddd;
						    }
					    }			    
				    }
				    &:last-child{
				    	margin-right: 0;
				    }
			    }
			}
		    ul{
		    	margin-top: 0rem;
		    	li{
		    		margin-top: 1rem;
		    		a{
		    			color: #ddd;
		    			font-weight: 100;
		    			font-family: Open Sans;
		    			font-size: 13px;
		    			text-decoration: none;
		    			transition: 0.4s all;
		    			&:hover{
		    				color: #fff;
		    			}
		    		}
		    	}
			    @media screen and (min-width: 768px){
			    	margin-top: 2.8rem;
			    }
		    }
		    @media screen and (min-width: 768px){
		    	padding-right: 15px;
				padding-left: 15px;
		    }
		    form{
		    	margin-top: 1.8rem;
		    	display: block;
		    	input[type="email"]{
		    		padding: 12px;
				    border: none;
				    width: 100%;
				    font-size: 16px;
				    border-radius: 0;
				    @media screen and (min-width: 768px){
				    	width: 71%;
				    }
		    	}
		    	input[type="submit"]{
		    		padding: 13px 22px 12px;
		    		border: none;
		    		border-radius: 0;
		    		margin-left: 0;
		    		margin-top: 1rem;
		    		font-size: 15px;
		    		background: $base;
		    		color: $white;
		    		cursor: pointer;
		    		width: 100%;
		    		@include Ease(0.25s);
		    		@media screen and (min-width: 768px){
				    	width: auto;
				    	margin-left: -3px;
				    	margin-top: 2rem;
				    }
				    &:hover{
				    	background: darken($base, 5%);
				    }
		    	}
		    	@media screen and (min-width: 768px){
			    	display: flex;
			    }
		    }

    	.subscribeTxt{
    		margin-top: 0 !important;
    		font-size: 13px !important;
    		font-weight: 100 !important;
    		color: #ddd !important;
    		@media screen and (min-width: 768px){
    			margin-top: 2.9rem !important;
    		}
    	}
    	@media screen and (min-width: 768px){
	    	padding-bottom: 4rem;
	    }
	}

	.BottomFooterMenu{
		padding-top: 0;
		padding-bottom: 4rem;
		display: block;
		@media screen and (min-width: 768px){
			display: flex;
		}
		    h4{
		    	color: #ddd;
		    	font-size: 18px;
		    	font-weight: 500;
		    	margin-top: 1rem;
		    	margin-bottom: 10px;
		    	@media screen and (min-width: 768px){
		    		margin-top: 0;
		    		margin-bottom: 20px;
		    	}
		    }
		    p{
		    	text-align: left;
		    	margin-top: 2rem;
		    	color: #ddd;
		    	font-weight: 100;
		    	font-size: 15px;
		    }
		    ul.SocialIcons {
		  		margin: 1rem auto 0 0;
			    padding: 0;
			    list-style: none;
			    display: flex;
			    align-items: center;
			    justify-content: flex-start;
				    li{
			    	display: inline-block;
			    	margin-right: 1.2rem;
			    	color: #fff;
			    	font-size: 18px;
			    	font-family: Lato;
				    a {
				    	display: flex;
					    justify-content: center;
					    align-items: center;
				    	background: #333;
					    transition: background ease 0.1s;
					    svg {
					    	width: 22px;
						    height: 22px;
						    fill: #ffffff;
						    &:hover{
						    	fill: #ddd;
						    }
					    }			    
				    }
				    &:last-child{
				    	margin-right: 0;
				    }
			    }
			    @media screen and (min-width: 768px){
			    	margin: 3rem auto 0 0;
			    }
			}
		    ul{
		    	margin-top: 0rem;
			    margin-bottom: 1rem;
		    	li{
		    		margin-top: 1rem;
		    		a{
		    			color: #ddd;
		    			font-weight: 300;
		    			font-family: Open Sans;
		    			font-size: 13px;
		    			text-decoration: none;
		    			transition: 0.4s all;
		    			&:hover{
		    				color: #fff;
		    			}
		    		}
		    	}
			    @media screen and (min-width: 768px){
			    	margin-top: 2.8rem;
			    	margin-bottom: 0;
			    }
		    }
		    ul.ContactDetails{
		    	margin-top: 1rem;
		    	li{
		    		display: flex;
		    		margin-bottom: 2rem;
		    		color: $white;
	    			font-weight: 100;
	    			font-family: Open Sans;
	    			font-size: 1.4rem;
		    		a{
		    			display: flex;
		    			align-items: flex-end;
		    			color: $white;
		    			font-weight: 100;
		    			font-family: Open Sans;
		    			font-size: 1.4rem;
		    			text-decoration: none;
		    			transition: 0.4s all;
		    			&:hover{
		    				color: $white;
		    			}
		    		}
		    		.iconSpan{
						width: 24px;
		    		}
			    	.contentSpan{
			    		width: calc(100% - 24px);
			    		vertical-align: middle;
			    	}
		    		svg{
		    			width: 20px;
		    			height: 20px;
		    		}
		    	}
		    	@media screen and (min-width: 768px){
		    		margin-top: 2.8rem;
		    	}
		    }
		    @media screen and (min-width: 768px){
		    	padding-right: 15px;
				padding-left: 15px;
		    }
		    form{
		    	margin-top: 1.8rem;
		    	input[type="email"]{
		    		padding: 12px;
				    border: none;
				    width: 66%;
				    font-size: 16px;
		    	}
		    	input[type="submit"]{
		    		padding: 13px 22px 12px;
		    		border: none;
		    		margin-left: -3px;
		    		font-size: 15px;
		    		background: #3f95b6;
		    		color: #ffffff;
		    		cursor: pointer;
		    	}
		    }

    	.subscribeTxt{
    		margin-top: 2.9rem !important;
    		font-size: 13px !important;
    	}
	}

	.CopyrightBlock{
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-top: 1px thin solid #5d5d5d;
		p{
			font-weight: 100;
			color: #ddd;
			margin: 0;
			a{
				color: #ddd;
				text-decoration: none;
			}
		}
	}
}