header {
    padding-top: 1rem;
    padding-bottom: 0;
    // background-color: #fff; /* Black background color */
    // position: fixed; /* Make it stick/fixed */
    // top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
    z-index: 9;
    &.scrolled{
        box-shadow: 0px 0 10px rgba(0,0,0,0.15);
    }
    a{
        img.Logo{
            margin: 0 auto;
            display: block;
        }
    }
    .HeaderMenuBox{
        padding: 0;
        margin-top: 15px;
        border-top: thin solid #ddd;
        @media screen and (min-width: 768px){
            padding: 10px 0;
            margin-top: 15px;
        }
    }
    .MenuHeader {

        nav {
        	display: block;
        	position: relative;
            div.DesktopMenu {
                display: none;
                ul{
                    list-style: none;
                    margin: 0 0 0;
                    display: flex;
                    padding: 0 .5rem;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        display: inline-block;
                        position: relative;
                        width: auto;
                        height: auto;
                        vertical-align: top;
                        margin: 0 auto;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                        .active {
                            &::before {
                                transform: scaleX(1) !important;
                            }
                        }
                        a {
                            text-decoration: none;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-left: 0;
                            margin-bottom: 0;
                            border-bottom: 2px solid transparent;
                            color: #6c6c6c;
                            line-height: 26px;
                            opacity: 1;
                            visibility: visible;
                            position: relative;
                            display: block;
                            width: auto;
                            height: auto;
                            transition: all 0.3s ease-in-out;
                            font-size: 1.2rem;
                            font-weight: 400;
                            font-family: $secondaryFont;
                            @media(min-width: 991px){
                                 font-size: 1.4rem;           
                            }
                            &:before{
                                content: '';
                                position: absolute;
                                border-bottom: 2px solid #3c98b1;
                                width: 0;
                                height: 2px;
                                left: 0;
                                bottom: 0;
                                transition: 0.6s linear;
                            }
                            &.current-menu-item {
                                color: #333;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    border-bottom: 2px solid #3c98b1;
                                    width: 100%;
                                    height: 2px;
                                    left: 0;
                                    bottom: 0;
                                    transition: 0.3s linear;
                                }
                            }
                            &:hover {
                                color: #333;
                                &:before{
                                    width: 100%;
                                }
                            }
                            &:focus {
                                color: #333;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    border-bottom: 2px solid #3c98b1;
                                    width: 100%;
                                    height: 2px;
                                    left: 0;
                                    bottom: 0;
                                    transition: 0.1s linear;
                                }
                            }
                            @media(min-width: 768px) and (max-width: 1023px){
                                font-size: 1.2rem;
                            }
                        }
                        &.active {
                            a::before {
                                // opacity: 1;
                                transform: scaleX(1);
                            }
                        }
                        &.menu-item-has-children {
                            a {
                                &::after {
                                    border-style: solid;
                                    border-width: 0.05em 0.05em 0 0;
                                    content: '';
                                    display: inline-block;
                                    height: 0.45em;
                                    left: 0;
                                    top: 0;
                                    color: #808080;
                                    transform: rotate(135deg);
                                    width: 0.45em;
                                    @include Ease(0.5s);
                                    margin-left: 7px;
                                    margin-top: 7px;
                                    vertical-align: top;
                                }
                            }
                            &:hover {
                                ul.sub-menu {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            ul.sub-menu {
                                position: absolute;
                                top: 38px;
                                display: block;
                                left: 0;
                                min-width: 300px;
                                height: auto;
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                background-color: #3c98b1;
                                z-index: 1;
                                margin: 0;
                                li {
                                    position: relative;
                                    width: 100%;
                                    height: auto;
                                    float: left;
                                    // &:first-child {
                                    //     border-top: 1px solid rgba(#fff, 0.3);
                                    // }
                                    a {
                                        position: relative;
                                        margin-bottom: 0;
                                        display: block;
                                        text-transform: uppercase;
                                        font-size: 13px;
                                        text-decoration: none;
                                        cursor: pointer;
                                        color: #fff;
                                        text-align: left;
                                        font-style: normal;
                                        padding: 10px 15px;
                                        width: auto;
                                        height: auto;
                                        visibility: inherit;
                                        font-weight: 500;
                                        opacity: inherit;
                                        transition: all 0.3s ease-in-out;
                                        border-bottom: 1px solid rgba(#fff, 0.3);
                                        font-family: Open Sans;
                                        line-height: 20px;
                                        &:hover li {
                                            background: rgba($base, .7);
                                        }
                                        &::before,
                                        &::after {
                                            display: none;
                                        }
                                        &:last-child {
                                            // border-bottom: none;
                                        }
                                    }
                                }
                            }
                            .SubMenuController {
                                padding-left: 5px;
                                @include Ease();
                            }
                        }
                    }
                }
                @media screen and (min-width: 768px){
                	display: block;
                }
            }
        }
    }
}

/**
 * Headspace starter styles
 */
.headspace {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s;
  height: auto;
  background: $white;
  width: 100%;
  display: block;
  border-bottom: 1px solid #f1f1f1;
}
.headspace--hidden {
  transform: translate3d(0, -14.6rem, 0) !important; /* y value should be -1 * height */
  transition: transform 0.3s;
}
.headspace--fixed {
  position: fixed;
  transform: translate3d(0, -0.1rem, 0);
  transition: transform 0.3s;
  @media screen and (min-width: 768px){
    transform: translate3d(0, -9.5rem, 0);
  }
}

/**
 * Optional feature: show header when hovering near top
 */
// .headspace--hidden:after {
//   content: '';
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 4rem;
//   height: 4rem;
// }
.headspace--hidden:hover {
  transform: translate3d(0, -14.6rem, 0);
}

.headroom--pinned{
    transform: translate3d(0, -9.5rem, 0);
}

.grt-mobile-button{
    top: -60px !important;
    @media screen and (min-width: 768px){
        top: -50px !important;
    }
}

.grt-mobile-button-open{
    top: 30px !important;
    @media screen and (min-width: 768px){
        top: -50px !important;
    }
}

ul.open-grt-menu{
    height: 100vh !important;
    top: 2px !important;
    @media screen and (min-width: 768px){
        height: 100% !important;
        top: 0 !important;
    }
}