.AccordionSection{
	.wrapper {
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.accordion {
	    // max-width: 768px;
	    width: 100%;
	    overflow: hidden;
	    &__item{
	    	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
	    	width: 98%;
	    	margin: 20px auto;
	    	&.is-open{
	    		.accordion__submenu{
	    			display: block;
	    		}
	    	}
	    	.accordion__submenu{
    			display: none;
    		}
	    }
	    &__link {
	        cursor: pointer;
	        display: block;
	        padding: 14px 35px 14px 24px;
	        position: relative;
	        transition: all 0.25s ease-in-out;
	        width: 100%;
	        overflow: hidden;
	        font-size: 1.6rem;
	        font-weight: 400;
	        letter-spacing: 1px;
	        background: $white;
	        color: $secondaryColor;
	        border-radius: 0;
	        box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
	        @media(min-width: 678px){
	        	padding: 17px 20px 17px 45px;
	        	font-size: 2rem;
	        }
	        &:before,
	        &:after {
	            content: '';
	            position: absolute;
	            right: 15px;
	            top: 50%;
	            transform: translateY(-50%);
	            width: 16px;
	            height: 2px;
	            background: $secondaryColor;
	            transition: transform 0.25s ease-in-out;
	            @media(min-width: 678px){
	            	width: 22px;
	            }
	        }
	        &:after {
	            transform: translateY(-50%) rotate(90deg);
	        }
	    }
	    &__submenu {
	        background: $white;
	        display: none;
	        font-size: 1.45rem;
	        &-item {
	            padding: 15px 24px 10px;
	            @media(min-width: 678px){
	            	padding: 15px 45px 10px;
	            }
	            p{
	            	font-size: 1.45rem;
	            	@media(min-width: 678px){
	            		font-size: 1.6rem;
	            	}
	            }
	        }
	        // &-link {
	        //     color: $lightBlack;
	        // }
	    }
	}


	.is-open {
	    .accordion {
	        &__link {
	            &:after {
	                transform: translateY(-50%) rotate(0deg);
	            }
	        }
	    }
	}
}