.CategoriesFilterButton{
  @media(max-width: 678px){
    display: flex;
    justify-content: space-between;
  }
  button{
    padding: 1rem .1rem .8rem;
    border: unset;
    color: $lightBlack;
    background: none;
    cursor: pointer;
    margin: .8rem 1.5rem;
    position: relative;
    font-size: 1.7rem;
    transition: all .3s ease;
    &:first-child{
      margin-left: 0;
    }
    &:hover{
      color: $base;
    }
    &.is_active{
      color: $base;
    }
    &:focus{
      outline: none;
    }
  }
}

.BlogsPageSection{
  .FilterButtonRow{
    @media(max-width: 678px){
      flex-direction: column-reverse;
    }
  }
  .SearchBox{
    padding-bottom: 0;
    margin-top: -10px;
    @media(max-width: 678px){
      padding-bottom: 1.2rem;
      margin-top: 0;
    }
  }
  a{
    color: $lightBlack;
    &:hover{
      text-decoration: none;
    }
  }
  h4{
    font-weight: 400;
    margin-bottom: 0;
    @media(max-width: 678px){
      font-size: 2.2rem;
      margin-bottom: 2.5rem;
    }
  }
  .PostCategories{
    margin-bottom: 4.5rem;
    &__box{
      background-color: $white;
      color: $lightBlack;
      box-shadow: 0px 5px 25px rgba(90, 90, 90, 0.17);
    }
    &__image{
      width: 100%;
      img{
        width: 100%;
      }
    }
    &__headerUl{
      display: flex;

      li{
        padding: 1.15rem 1.8rem;
        flex: 1;
        @media(min-width: 992px){
          padding: 1.15rem 2rem;
        }
        &.active{
          background-color: $base;
          color: $white;
        }
      }
    }
    &__content{
      padding: 2rem 1.8rem;
      @media(min-width: 992px){
          padding: 2rem 2rem;
        }
      h3{
        color: $base;
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 10px;
      }
      p{
        margin-bottom: 0;
      }
    }
    &__footerUl{
      display: flex;
      padding: 1rem 1.8rem;
      @media(min-width: 992px){
        padding: 1rem 2.2rem;
      }
      border-top: 1px solid $lightGrey;
      li{
        padding: 0.5rem 0;
        color: $middleGray;
        padding: 0.3rem 0;
        flex: 1;
        border-right: 1px solid $lightGrey;
        &:last-child{
          padding-left: 1.5rem;
          border-right: none;
        }
        span{
          margin-right: 5px;
        }
        svg{
          width: 20px;
          height: 20px;
          fill:$middleGray;
        }
      }
    }
  }
}

#AllPostCategories{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.PaginationBox{
  display: flex;
  justify-content: center;
  a{
    color: $lightBlack;
    font-size: 1.8rem;
    text-decoration: underline;
    @include Ease(0.25s);
    &:hover{
      color: $base;
      text-decoration: underline;
    }
  }
  ul{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    li{
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
      a{
        text-decoration: none;
        padding: 0.65rem 1.1rem;
        @include Ease(0.25s);
        &:hover{
          background-color: $base;
          color: $white;
          text-decoration: none;
        }
        &.is_active{
          background-color: $base;
          color: $white;
        }
      }
    }
  }
}