.SectionBlog{
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.BlogSinglePageSection{
	h2{
		font-weight: 300;
		margin-bottom: 15px;
	}
	ul{
		&.PostInfoInconBlock{
			padding-right: 0;
			display: flex;
			justify-content: space-between;
			@media(min-width: 678px){
				padding-right: 15px;
			}
			li{
				font-size: 1.3rem;
				color: $middleGray;
				@media(min-width: 678px){
					font-size: 1.6rem;
				}
				a{
					color: $middleGray;
					@include Ease(0.25s);
					@media(max-width: 678px){
						display: flex;
    					flex-direction: column;
    					align-items: center;
					}
					&:hover{
						text-decoration: none;
						color: $grey;
						span{
							svg{
								&.icon{
									fill: $grey;
								}
							}
						}
					}
					span{
						margin-right: 2px;
						vertical-align: text-bottom;
						svg{
							&.icon{
								width: 14px;
								height: 14px;
								stroke-width: 0;
								stroke: none;
								fill: $middleGray;
								@include Ease(0.25s);
								@media(min-width: 678px){
									width: 20px;
									height: 20px;
								}
							}
						}
					}
				}
			}
		}
	}

	.BlogBannerSection{
		img{
			width: 100%;
		}
	}
}