p{
  &.ButtonElement{
    margin-top: 4rem !important;
  }
}

.Btn_SolidBackground{
  background: $secondaryColor;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  background-color: $secondaryColor;
  color: white;
  padding: 1.25rem 2.1rem;
  border: 2px solid $secondaryColor;
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  width: auto;
  min-width: 180px;
  min-width: 18rem;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  @media (min-width: 400px) {
    width: auto;
  }
  @media (min-width: 800px) {
    font-size: 1.6rem;
    padding: 1.25rem 5rem;
  }
  &:hover {
    background: lighten($secondaryColor, 5%);
    border-color: lighten($secondaryColor, 5%);
    color: $white;
  }
  &:focus{
    outline: none;
  }
}

.Btn-Arrow {
  position: relative;
    transition: background-color 300ms ease-out;
  span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
    left: -1rem
  }
  &:hover span {
    // transform: translate3d(-0.5rem, 0, 0);
  }
  svg {
    // fill: $white;
    position: absolute;
    width: 18px;
    height: 18px;
    stroke-width: 0.3rem;
    stroke: $white;
    fill: $white;
    right: 0px;
    right: -2.5rem;
    opacity: 1;
    top: 55%;
    transform: translateY(-45%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
    * {
      // stroke-width: 5;
      stroke-color: transparent;
    }
  }
  &:hover svg {
    opacity: 1;
    right: -3.8rem;
  }
}


.Button {
  border: 1px solid transparent;
  border-radius: 0;
  color: $white;
  text-decoration: none;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  background-color: $base;
  background-image:url(../img/button-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: 82% center;
  background-size: 18px;
  padding: 1.25rem 5rem;
  @include Ease(0.25s);
  span{
    position: relative;
    left: -15px;
  }

  &:hover {
    background-color: darken($base, 5%);
    border-color: darken($base, 5%);
    text-decoration: none;
    background-position: 87% center;
  }
}

.DownloadButton{
    border: 1px solid transparent;
    border-radius: 0;
    color: $white;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: $base;
    padding: 0;
    @include Ease(0.25s);
    width: 190px;
    height: 47px;
    cursor: pointer;
    line-height: 44px;
    text-align: left;
    &:focus{
      outline: none;
    }
    .DownloadSpan{
      display: inline-block;
      width: 73%;
      // border-right: 1px solid #025e75;
      border-right: 1px solid darken($base, 15%);
      text-align: center;
    }
    .IconSpan{
      text-align: center;
      display: inline-block;
      width: 25%;
      img{
        width: 18px;
        margin-top: -4px;
      }
      svg{
        width: 18px;
        height: 18px;
        margin-top: -4px;
        position: relative;
        @include Ease(0.25s);
      }
    }
    &:hover{
      background: lighten($base, 5%);
      svg{
        animation: bounce 0.85s forwards alternate;
      }
    }
}

@keyframes bounce {
    0% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(5px);
    }
    80%{
      transform: translateY(-2px);
    }
    100%{
      transform: translateY(0px);
    }
}