.ContentImageBanner{
	padding: 2rem 0;
	position: relative;
	min-height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	@media(min-width: 678px){
		padding: 5rem 0;
		flex-direction: inherit;
	}
	.PageBannerContentBlock{
		
		h2{
			font-weight: 100;
		    margin-bottom: 1rem;
		    font-size: 2.5rem;
		    @media screen and (min-width: 768px) {
		        font-size: 3.5rem;
		    }
		}
		p{
			margin: 1rem 0;
			font-size: 16px;
			@media(min-width: 678px){
				font-size: 18px;
			}
		}
	}
}