.CenterHeading{
	padding-bottom: 4.5rem;
	h2{
		font-weight: 300;
	}
	p{
		max-width: 100%;
		@media(min-width: 678px){
			max-width: 75%;
			margin: 0 auto;
		}
	}
}

.DownloadSection{
	.DownloadUlWrap{
		width: 100%;
		li{
			border-bottom: 1px dashed $secondaryColor;
			display: block;
		    justify-content: space-between;
		    align-items: center;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    text-align: center;
		    &:first-child{
			border-top: 1px dashed $secondaryColor;
		    }
		    @media(min-width: 678px){
		    	display: flex;
		    	text-align: left;
		    }
		    .DownloadIconWrap{
				svg{
			    	width: 52px;
	    			height: 62%;
	    			fill: $white;
			    }
		    }
		}
	}
	.DownloadIconWrap{
		width: 100px;
		height: 100px;
		background-color: $secondaryColor;
		@include FlexCenter;
		margin: auto;
		@media(min-width: 678px){
			margin: 0;
		}
	}
	.DownloadContent{
		max-width: 100%;
		margin-top: 15px;
		@media(min-width: 678px){
			max-width: calc(100% - 340px);
			margin-top: 0;
		}
		h3{
			color: $secondaryColor;
			font-weight: 400;
			margin-bottom: 10px;
			font-size: 1.85rem;
			@media(min-width: 678px){
				font-size: 2.2rem;
			}
		}
		p{
			max-width: 100%;
			@media(min-width: 678px){
				max-width: 80%;
			}
		}
	}
	.DownloadButtonWrap{
		width: 190px;
		margin: auto;
		@media(min-width: 678px){
			margin: 0;
		}
		.DownloadButton{
			width: 100%;
		}
	}
}