input[type="text"],input[type="email"],input[type="date"],input[type="time"],select{
	width: 100%;
	padding: 15px;
	border: thin solid $lightGrey;
	border-radius: 0;
	background-color: $white;
	margin-top: 2rem;
	font-size: 16px;
	&:focus{
		outline: none;
	}
}
textarea{
	width: 100%;
	padding: 15px;
	border: thin solid $lightGrey;
	border-radius: 0;
	background-color: $white;
	height: 150px;
	margin-top: 2rem;
    font-size: 16px;
    color: $lightBlack;
	&:focus{
		outline: none;
	}
}
input[type="submit"]{
	margin: 4rem auto 0;
	display: block;
    cursor: pointer;
    border-radius: 0;
    &:focus{
		outline: none;
	}
}

.FormDiv{
	padding-top: 3rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="tel"],
input[type="search"],
select,
textarea{
	&::placeholder{
		color: $placeholder;
	}
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="tel"],
textarea{
	color: $lightBlack;
}

select:invalid {
  color: $placeholder;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: $lightBlack;
}

select{
	appearance: none;
	background: url(../img/down-arrow.svg) 98% no-repeat $white;
	background-repeat: no-repeat;
}

select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}



.daterangepicker .drp-calendar{
	box-shadow: 0px 5px 24px rgba(128, 128, 128, 0.28);
}