.FullBannerSection{
	width: 100%;
	height: auto;
	// height: 40vh;
	@media(min-width: 1170px){
		height: 400px;
	}

	.FullBanner{
		width: 100%;
		height: 100%;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			@media(min-width: 1400px){
				height: auto;
				object-fit: unset;
			}
		}
	}
}