.LeftContentRightImageSection{
	position: relative;
	min-height: auto;
	display: block;
	&:before{
		content: "";
	    background-image: url(../img/curve-1.svg);
	    background-repeat: no-repeat;
	    background-position: bottom left;
	    background-size: auto;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	}
	.ContentBlock{
		display: block;
		@media(min-width: 678px){
			display: flex;
    		align-items: flex-start;
		    flex-direction: column;
		    justify-content: center;
		    height: 100%;
		}
		h2{
			font-weight: 300;
		}
	}
	
}

