.LeftRightIconContentSection{
	.IconWrap{
		background-color: $white;
	    width: 75px;
	    height: 75px;
	    @include FlexCenter;
	    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.12);
	    @media(min-width: 967px){
	    	width: 105px;
	    	height: 105px;
	    }
	    svg{
	    	width: 40px;
	    	height: 40px;
	    	@media(min-width: 678px){
	    		width: 52px;
	    		height: 52px;
	    	}
	    }
	}
	h4{
		color: $secondaryColor;
		font-weight: 400;
		margin-bottom: 10px;
		font-size: 1.85rem;
		@media(min-width: 967px){
			font-size: 2.2rem;
		}
	}
	p{
		font-size: 1.5rem;
		@media(min-width: 967px){
			font-size: 1.65rem;
		}
	}
}