.ProductFeaturesSlider{
	padding-bottom: 5rem;
	.ProductFeature{
		max-width: 100%;
		margin: 0 auto;
		@media screen and (min-width: 768px){
			max-width: 1100px;
		}
		.thumb-pic{
			text-align: center;
			svg{
				display: flex;
				margin: 0 auto;
				width: 100px;
				height: 50px;
			}
			p{
				margin-top: 2rem;
				margin-bottom: 0;
				font-size: 15px;
				color: $grey;
			}
		}
			.slick-prev{
				background: url(../img/left-small-arrow.png) no-repeat;
				left: -2px;
				@media screen and (min-width: 768px){
					left: 0;
				}
			}
			.slick-next{
				background: url(../img/right-small-arrow.png) no-repeat;
				right: -5px;
				@media screen and (min-width: 768px){
					right: -10px;
				}
			}
			.slick-next, .slick-prev{
				height: 23px;
				width: 15px;
				text-indent: -999px;
				&:before{
					display: none;
				}
			}
	}
}