.ProductDimension{
	.row{
		.col-md-6{
			padding-left: 15px;
			padding-right: 15px;
			@media (min-width: 768px){
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.TitleBox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;
		height: 100%;
		border-right: thin solid transparent;
		border-bottom: thin solid transparent;
		h2{
			font-weight: 100;
			margin-bottom: 10px;
			line-height: 1;
		}
		p{
			margin-bottom: 15px;
			color: $grey;
			@media (min-width: 768px){
				margin-bottom: 0;
			}
		}
		@media (min-width: 768px){
			border-right: thin solid #ddd;
			border-bottom: thin solid #ddd;		
			height: 100%;	
		}
	}
	.ProductDimensionBox{
		padding-left: 45px;
		position: relative;
		h2{
			font-weight: 100;
			margin-bottom: 0;
			line-height: 1;
			position: absolute;
			right: 0;
			top: 0;
		}
		&.FirstBox{
			padding-bottom: 0;
			padding-left: 0;
			border-bottom: thin solid transparent;
			h2{
				top: 25px;
			}
			@media (min-width: 768px){
				padding-bottom: 45px;
				padding-left: 45px;
				border-bottom: thin solid #ddd;
			}
		}
		&.SecondBox{
			padding-left: 0px !important;
			padding-bottom: 15px;
			border-right: thin solid transparent;
			padding-right: 0;
			padding-top: 25px;
			h2{
				right: 0;
				top: 35px;
				@media (min-width: 768px){
					right: 45px;
				}
			}
			@media (min-width: 768px){
				padding-right: 45px;
				border-right: thin solid #ddd;
				padding-bottom: 0;
				padding-top: 15px;
			}
		}
		&.ThirdBox{
			padding-bottom: 0;
			padding-top: 15px;
			padding-left: 0;
			h2{
				top: 35px;
			}
			@media (min-width: 768px){
				padding-left: 45px;
			}
		}
	}
}