.RightContentLeftAlignedImage{
	position: relative;
	min-height: auto;
	display: block;
	@media(min-width: 678px){
		display: flex;
    	align-items: center;
    	min-height: 500px;
	}
	@media(min-width: 1400px){
    	min-height: 530px;
	}
}