.RightContentLeftImage{
	h2{
		font-weight: 100;
		text-align: center;
		margin-bottom: 4rem;
	}
	.RightContentBlock{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		h4{
			font-size: 2.4rem;
			line-height: 1.6;
			font-weight: 100;
			margin-bottom: 1rem;
			@media(min-width: 678px){
				font-size: 2.8rem;
			}
		}
	}
}