.ThreeBoxImage{
	position: relative;
	&:before{
		content: "";
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    background-image: url(../img/curve-1.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    width: 100%;
	    height: 299px;
	}
	.ThreeBoxImageHead{
		text-align: center;
		padding-bottom: 3rem;
		max-width: 100%;
		margin: 0 auto;
		@media(min-width: 678px){
			max-width: 80%;
		}
		h2{
			font-weight: 300;
		}
	}
	.BoxWrap{
		box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.12);
    	border-radius: 7px;
    	display: inherit;
    	height: auto;
    	background-color: $white;
    	@media(min-width: 678px){
    		display: flex;
    		height: 100%;
    	}
    	a{
    		width: 100%;
    		&:hover{
    			text-decoration: none;
    		}
    	}
    	&:hover{
    		.BoxImage{
				.TransparentBackground{
					transform: translateX(0);
	    			opacity: 1;
	    			.hoverIcon{
	    				opacity: 1;
	    			}
	    		}
    		}
    	}
    	.BoxImage{
			position: relative;
			overflow: hidden;
			width: 100%;
			.TransparentBackground{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(51, 51, 51, 0.71);
				border-radius: 7px 7px 0 0;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translateX(-100%);
    			opacity: 0;
    			transition: all 0.25s ease-in;
				.hoverIcon{
					text-align: center;
					opacity: 0;
					transition: all 0.5s ease-in-out;
					&:hover{
						svg{
							background-color: $secondaryColor;
						}
					}
					svg{
						width: 55px;
					    height: 55px;
					    background-color: rgba(37, 147, 181, 0.8196078431372549);
					    padding: 12px;
					    border-radius: 50%;
					    transition: all 0.25s ease-in;
					}
					p{
						color: $white;
					}
				}
			}
			img{
				border-radius: 7px 7px 0 0;
				width: 100%;
			}
		}
		.BoxContent{
			text-align: center;
			padding: 1.2rem 1rem;
			h5{
				font-size: 1.8rem;
				font-weight: 400;
				margin-bottom: 5px;
				color: $lightBlack;
			}
		}
	}
}