* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
  background: $white;
}

body {
  font: 400 14px/1.4 $primaryFont;
  color: $black;
  transition: all 0.4s 0.3s ease-in;
  font-smoothing: antialiased;
}

body,
html {
  min-height: 100vh;
  // overflow: hidden;
}

// main{
//   margin-top: 110px;
//   @media(min-width: 678px){
//     margin-top: 145px;
//   }
// }

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-family: Open Sans;
  color: #636363;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Lato;
  font-weight: 600;
  line-height: 1.4;
  color: inherit;
}

h1 {
  font-size: 3rem;

  @media screen and (min-width: 768px) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2.5rem;

  @media screen and (min-width: 768px) {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 2rem;
  // text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
    // text-transform: uppercase;
  }
}

h4 {
  font-size: 1.8rem;

  @media screen and (min-width: 768px) {
    font-size: 2.2rem;
  }
}

h5 {
  font-size: 1.5rem;

}

h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.SmallContainer{
  max-width: 950px;
  margin: 0 auto; 
}

.Center {
  text-align: center;
}
.M-Top20{
  margin-top: 20px;
}
.M-Top30{
  margin-top: 30px;
}
.M-Top45{
  margin-top: 45px;
}
.M-Top145{
  margin-top: 110px;
  @media(min-width: 678px){
    margin-top: 145px;
  }
}

.M-Bottom145{
  margin-bottom: 110px;
  @media(min-width: 678px){
    margin-bottom: 145px;
  }
}

.ML-Auto{
  margin-left: auto;
}

.M-Auto{
  margin: auto;
}

.M-Bottom20{
  margin-bottom: 20px;
}

.DesktopOnly {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.MobileOnly {
  @media (min-width: 768px) {
    display: none;
  }
}

.HeadingBar {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: $base;
    width: 50px;
    height: 4px;
  }

  &.CenteredBar {
    &:before {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &.TopBar {
    padding-top: 20px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  &.BottomBar {
    padding-bottom: 20px;

    &:before {
      bottom: 0;
      top: auto;
    }
  }

  &.CenteredHead {
    text-align: center;
    margin-bottom: 20px;
  }
}

.NoBar {
  padding-top: 20px;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.HeadCenter {
  text-align: center;
}

.MobileSpaceOnly {
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 0;
  }

  @media (max-width:990px) {
    margin-top: 0 !important;
  }
}

.MobileSpaceOnlyLeast {
  padding-top: 1rem;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

ul.CircledBullet {
  padding-left: 0;
  list-style: none;

  li {
    position: relative;
    // border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    transition: all ease 0.2s;

    &:before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $base;
    }

    &:after {
      position: absolute;
      content: "";
      top: 8px;
      left: 6px;
      background-color: $base;
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }

    &:hover {
      border-color: $base;
    }
  }
}

.Quotation {
  text-align: center;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.ColorHeading {
  color: $base;
  font-style: italic;
}

ul.PolygonBullet {
  padding-left: 0;
  list-style: none;

  li {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    transition: all ease 0.2s;

    &:before {
      position: absolute;
      content: "";
      // <svg class="Facebook"><use xlink:href="assets/img/cobold-sprite.svg#icon-Youtube"></use></svg>
      top: 2px;
      left: 0px;
      width: 16px;
      height: 16px;
      background-image: url(../img/cobold-sprite.svg#icon-bullet-point);
    }

    &:hover {
      border-color: $base;
    }
  }
}

.Bold {
  font-weight: 600;
}

.ImgElement {
  position: absolute;

  &.TopRightElement {
    top: 0;
    right: 0;
  }

  &.BottomRightElement {
    bottom: 0;
    right: 0;
  }

  &.BottomLeftElement {
    bottom: 0;
    left: 0;
  }

  &.TopLeftElement {
    top: 0;
    left: 0;
  }
}

ul.Dashed {
  padding-left: 0;
  list-style: none;

  li {
    position: relative;
    padding-bottom: 10px;
    padding-left: 30px;
    transition: all ease 0.2s;

    &:before {
      position: absolute;
      content: "";
      top: 10px;
      left: 0px;
      width: 15px;
      height: 1px;
      background-color: $base;
    }
  }
}

ul.SvgList {
  list-style: none;
  // margin: 0;
  padding: 0;
  margin-top: 3rem;

  li {
    margin-bottom: 1rem;
    background: url('../img/bullet-point.svg');
    background-repeat: no-repeat;
    padding-left: 35px;
    // border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1rem;
    transition: all .2s ease;
    line-height: 1.7;

    &:hover {
      border-color: $base;
    }

    .BulletIcon {
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }
  }
}

.TextLeft {
  text-align: left;
}

.TwoGridList {
  display: inline-block;

  li {
    float: left;
    width: 48%;
    border-bottom: none !important;
  }
}

@media only screen and (max-width:480px) {
  .TwoGridList {
    li {
      padding-left: 25px;
      width: 46%;
      margin-right: 10px;
      word-break: break-word;
    }
  }
}

.CopyRightText {
  text-align: center;
}

.MainBanner {
  .Breadcrumbs {
    a {
      color: CurrentColor;
    }
  }
}

.BgColorBlue{
  background-color: #f5fafd;
}
.LeftContentBlock{
  h2{
    font-weight: 100;
    margin-bottom: 2.2rem;
    max-width: 100%;
  }
  p{
    margin: 1rem 0;
    font-size: 1.6rem;
  }
}

.CommonImageDiv{
  overflow-x: hidden;
}


